<header>
    <nav class="grid search-bar">
        <img #menuIcon class="menu-mobile" src="/assets/img/menu-mobile.svg" alt="">
        <h1 class="title"><a [routerLink]="['/']">ClothesStore</a></h1>

        <form [formGroup]="frm" class="input-group" (ngSubmit)="onSubmit()">
            <input type="search" placeholder="Buscar aquí producto" required class="form-control"
                formControlName="search" />
            <button class="btn-search" type="submit"><img class="icon-button" src="/assets/img/icon-search.svg"
                    alt=""></button>
        </form>

        <img class="cart" src="/assets/img/icon-cart.svg" alt="">
        <img class="account" src="/assets/img/icon-user.svg" alt="">
        <button type="button" class="btn-sigin">Iniciar sesión</button>
    </nav>
    <nav class="menu-desktop">
        <ul>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Junior</a></li>
            <li><a href="#">Niños</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Ofertas</a></li>
        </ul>
    </nav>
</header>


<div id="hamburguer-menu" #hamburguerMenu>
    <div class="button-close-container">
        <img src="/assets/img/icon-close.svg" #closeIcon alt="">
    </div>
    <ul>
        <li><a href="#">Hombre</a></li>
        <li><a href="#">Mujer</a></li>
        <li><a href="#">Junior</a></li>
        <li><a href="#">Niños</a></li>
        <li><a href="#">Accesorios</a></li>
        <li><a href="#">Ofertas</a></li>
    </ul>
</div>
