<div id="carousel">
    <picture>
        <source media="(min-width: 760px)" srcset="/assets/img/banner-principal-desktop.png">
        <img class="img-carousel" src="/assets/img/banner-principal-mobile.png">
    </picture>
    <div class="buttoms-slide">
        <button class="arrow left">
            <img src="/assets/img/icon-left-arrow.svg" alt="">
        </button>
        <button class="arrow rigth">
            <img src="/assets/img/icon-rigth-arrow.svg" alt="">
        </button>
    </div>
</div>
