<app-navbar></app-navbar>

<div class="grid-layout">
    <main>
        <h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda cum reiciendis expedita quae odit
            hic harum officiis! Laborum eius repellendus numquam architecto iste animi laudantium? Ad reprehenderit
            dolores eos, maiores numquam mollitia cumque ab cupiditate pariatur hic molestiae eligendi culpa. Dicta
            numquam aperiam, accusamus quisquam unde nihil adipisci, debitis magnam illum deleniti eum facilis nostrum.
            Beatae tempore doloribus impedit ullam optio quod voluptatibus voluptas veniam, et ea a illum quisquam
            maxime maiores perferendis asperiores reiciendis officia dolore hic nostrum modi consequuntur, deleniti
            sapiente. Dolorum doloremque, maxime aperiam quam ea voluptates nam in corrupti perferendis odit architecto
            distinctio sed inventore!
        </h2>
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
</div>
