<h1 id="title-carousel">PRODUCTOS MÁS BUSCADOS</h1>
<div class="grid-carousel">
    <button class="btn left">
        <img src="/assets/img/icon-left-arrow-black.svg" alt="">
    </button>

    <div class="container-carousel">
        <ng-container *ngFor="let product of products">
            <app-card-product class="item-carousel"></app-card-product>
        </ng-container>
    </div>
    <button class="btn rigth">
        <img src="/assets/img/icon-rigth-arrow-black.svg" alt="">
    </button>
</div>
